body {
	width:100%; height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.app-container{ height: 100%; width: 100%; }

/***********************
 *	GLOBAL STYLES 
 ***********************/
.content-container{
	width: 90%;
	margin: auto;
}
h1{
	font-size: 28px;
	line-height: 64px;
}
h2{
	font-size: 18px;
	margin: 10px 0px;
}
header{
	overflow: auto;
	padding: 25px 15px;
}
header.food-header{
	background: url('../img/counter_food.JPG') no-repeat center;
	background-size: 100% auto;
}

.food-header li {
	float: right;
	list-style: none;
}

.food-header a {
	text-decoration: none;
	margin: 10px 20px;
	color: #FFFFFF;
	font-size: 15px;
}

a, a:visited{
	color: red;
}

a:hover{
	color: gray;
}

.special-box{
	border: #FFFFFF 2px solid;
    padding: 2px 0;
    margin-top: -3px;
}

.special-text{
	font-weight: bolder;
	color: red;
}

button{
	line-height: 30px;
	font-size: 24px;
	font-weight: bolder;
	margin:20px;
	padding: 5px;
	background: red;
	border-radius: 10px;
	border: #FFFFFF 2px solid;
	color: #FFFFFF;
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(rgb(225, 0, 0), rgb(153, 0, 0)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgb(225, 0, 0), rgb(153, 0, 0)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgb(225, 0, 0), rgb(153, 0, 0)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgb(225, 0, 0), rgb(153, 0, 0)); /* Standard syntax */
 
}

button.ui-datepicker-trigger{
	vertical-align: middle;
	line-height: 21px;
}

.ui-datepicker-trigger img{
	width: 25px;
}


/**********************************
 * HOME STYLES
 *********************************/

.bgScreen{
	background: rgba(14,14,14,0.8);
    overflow: hidden;
    clear: both;
    width: 85%;
    margin: 5% auto;
    padding: 20px;
    color: #FFF;
    text-align: center;
}

.food-finder{
	margin: 20px 0;
}

.food-finder-label{
	margin-left: 10px;
}

.food-process-container{
	width: 100%;
}
.food-process-item{
	float:left;
	width:24%;
	margin: 0px 4%;
	text-align: center;
}
.food-process-item img{
	width: 65%;
}

/**************************
 * DINING RESULTS
 **************************/
.initial-filters { padding: 0;}
.initial-filters li { 
	float: left; 
	margin: 10px 15px 10px 0px;
	list-style: none;
}
.controls{ clear: left; width: 55%}

.ui-widget-header{
	background: #ef2929;
	border-color: #be0e0e;
}
#price-range{
	border:0; 
	color: red; 
	font-weight:bold;
}
.slider-container{
	width: 70%;
	margin: 10px 0px;
}

.results-container{
	width: 55%;
}
.result-item{
	padding: 5px 10px;
	margin: 5px 0px;
}

.result-item dt{
	font-weight: bolder;
}

.result-item:nth-child(even){
	background: #f2f2f2;
}


#map{
	float: right;
	width: 40%; height: 400px;
	margin: 30px 20px;
}

/************************************
 *	DETAILED LISTING 
 ***********************************/
#detailed-container{
	width: 53%;
}
.img-container{
	width: 56%;
	float: left;
	padding: 3% 0px;
}
.main-img{
	width: 100%;
}
.img-thumbs{
	padding: 0px;
	width: 100%;
}
.img-thumbs li{
	float: left;
    list-style: none;
    width: 31%;
    margin: 3% 1%;
}
.img-thumbs img{
	width: 100%;
}
.item-label{
	text-transform: capitalize;
}
.details-section{
	float: right;
    width: 40%;
    margin: 3% 2%;
}
