<header class="food-header">
	<main-nav></main-nav>
	<h1>{{details.name}}</h1>
</header>

<div id="detailed-container" class="content-container">
	<div class="img-container">
		<ul class="img-thumbs">
		  <li ng-repeat="img in details.images">
		    <img ng-src="{{img}}" ng-click="setImage(img)">
		  </li>
		</ul>
		<img ng-src="{{mainImage}}" class="main-img">
	</div>
	
	
	
	<div class="details-section">
		<h2>Host Details:</h2>
		<ul>
			<li>Cuisine: {{details.cuisine}}</li>
			<li ng-repeat="(prop, det) in details.listingDetails"><span class="item-label">{{prop}}:</span> {{det}}</li>
		</ul>
		<h2>Key experiences:</h2>
		<ul>
			<li ng-repeat="bullet in details.keyExperience">{{bullet}}</li>
		</ul>
	</div>
	
</div>
