<header class="food-header">
	<main-nav></main-nav>
	<h1>Dining Results</h1>
</header>

<div class="content-container">
	<div id="map"></div>
	<ul class="initial-filters">
		<li>Location: <span class="special-text">{{ zip }}</span></li>
		<li>Cuisine: <span class="special-text">{{foodType}}</span></li>
		<li>Delivery: <span class="special-text">{{delivery}}</span></li>
	</ul>
	
	<div class="controls">
		<p>Date: <input type="text" id="reservation-date" placeholder="Select Reservation Date" readonly></p>
		<p>
		  <label for="amount">Price range:</label>
		  <input type="text" id="price-range" ng-model="priceRange" readonly >
		</p>
		
		<div class="slider-container">
			<div id="price-range-slider"></div>
		</div>
	</div>
	
	<div class="results-container">
		<dl class="result-item" ng-repeat="res in diningResults | orderBy: res.price | filterRange:priceRange">
			<dt><a href="#/detailed_listing/{{res.id}}" >{{ res.name }}: {{res.price | currency: "$"}}</a></dt>
			<dd>{{res.description}}</dd>
		</dl>
	</div>
	
</div>

<script type="text/javascript">

	var map;
	var geocoder;
	function initMap() {
	  map = new google.maps.Map(document.getElementById('map'), {
	    center: {lat: -34.397, lng: 150.644},
	    zoom: 8
	  });
	  
	  geocoder = new google.maps.Geocoder();
	  geocodeAddress(geocoder, map);
	}
	
	function geocodeAddress(geocoder, resultsMap) {
	  var address = '29461';
	  geocoder.geocode({'address': address}, function(results, status) {
	    if (status === google.maps.GeocoderStatus.OK) {
	      resultsMap.setCenter(results[0].geometry.location);
	      var marker = new google.maps.Marker({
	        map: resultsMap,
	        position: results[0].geometry.location
	      });
	    } else {
	      alert('Geocode was not successful for the following reason: ' + status);
	    }
	  });
	}

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3-SC_nLmEJYUJPg3Bs2pTcZ-Jq0NRP44&callback=initMap"></script>

