<header class="food-header">
	<main-nav></main-nav>
	<div class="bgScreen">
		<h1>Let's Eat Fresh</h1>
		<h2>The taste of home away from home</h2>
		<div class="food-finder">
			<span class="food-finder-label">Where are you? (Zip) </span><input ng-model="zip" type="text" name="zipcode" size="10" maxlength="5"> 
			<span class="food-finder-label">What are you in the mood for? </span>
				<select name="cuisine" ng-model="foodType">
					<option value="" disabled selected hidden>Please Choose</option>
					<option value="Mexican">Mexican</option>
					<option value="Italian">Italian</option>
					<option value="Indian">Indian</option>
				</select>
			<span class="food-finder-label">Pickup / Delivery / Dine in?</span>
				<select name="delivery" ng-model="delivery">
					<option value="" disabled selected hidden>Select A Dining Option</option>
					<option value="Pickup">Pickup</option>
					<option value="Delivery">Delivery</option>
					<option value="Dine_in">Dine in</option>
				</select>
			<button id="find-food" ng-click="findFood();">Find Food!</button>
		</div>
	</div>
</header>
<div class="content-container">
	<h1>How It Works</h1>
	<div class="food-process-container">
		<div class="food-process-item">
			<img src="./img/select-options-01.png">
			<p>Choose your cuisine and find what/where you want to eat</p>
		</div>
		<div class="food-process-item">
			<img src="./img/cooking-utensiles.png">
			<p>Your meal is made!</p>
		</div>
		<div class="food-process-item">
			<img src="./img/served-food.png">
			<p>Choose to dine in, pickup or have your food delivered</p>
		</div>
	</div>
</div>
