<nav>
	<ul class="main-nav">
		<li><a href="#/Help">Help</a></li>
		<li><a href="#/contact">Contact</a></li>
		<li><a href="#/login">Login</a></li>
		<li><a href="#/sign-up" class="special-box">&nbsp;Sign Up&nbsp;</a></li>
	</ul>
</nav>
